<div id = "main">

<h1>This OneVillage Community is represented by</h1>
<table border="1" cellspacing="5" cellpadding="5">
	
	<tr>
		<th>Name</th>
		<th>Email</th>
	</tr>
	
	<tr>	
		<td>Smarth Madan</td>
		<td>madan.smarth@gmail.com</td>
	</tr>
	
	<tr>	
		<td>Vikas Dahuja</td>
		<td>vdahuja@gmail.com</td>
	</tr>
	
	<tr>
		<td>Shaunak Khedkar</td>
		<td>shaunakkhedkar@gmail.com</td>
	</tr>
	
	
</table>

</div>